<a href="https://colab.research.google.com/github/Kat-ies/Bio_BSU/blob/main/lab_7/Lab_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Lab_7 : unpermute + exactmatch**
*Ekaterina Yurkovskaya, 3rd group*

# **BWT & IBWT**

In [7]:
def bwt(input_str):
    input_str += '@'
    return "".join(s[-1] for s in sorted([input_str[i:] + input_str[:i] for i in range(len(input_str))]))

In [8]:
 def ibwt(input_str):
    table = ['' for _ in range(len(input_str))]
    for _ in range(len(input_str)):
        table = sorted([input_str[i] + table[i] for i in range(len(input_str))])
    for elem in table:
        if elem.endswith('@'):
            return elem[:-1]

In [10]:
print('BWT: ', bwt('acacgaaa'))
print('IBWT: ', ibwt(bwt('acacgaaa')))

BWT:  aaag@caac
IBWT:  acacgaaa

# **Unpermute**

In [5]:
def unpermute(input_bwt_str):

    def n_occurence_index(string, char, n):
        vector = [string[:index+1].count(char) for index in range(0, len(string))]
        return vector.index(n)

    def occurences(string, index):
        return string[:index+1].count(string[index])
    
    original_str = ''
    index = 0
    first_column = sorted(input_bwt_str)

    for i in range(len(input_bwt_str)-1):
        char = input_bwt_str[index]
        original_str = char + original_str
        occurence_count = occurences(input_bwt_str, index)
        index = n_occurence_index(first_column, char, occurence_count)

    return original_str

In [13]:
print('Unpermute:', unpermute(bwt('acacgaaa')))

Unpermute: acacgaaa

# **Exactmatch**

In [25]:
def FM_index(s):
    fm_index=[]
    
    alp=list(set(s))
    alp.sort()
    
    fm_index.append([0]*len(alp))

    for i in range(1,len(s)+1):
        curr_row=fm_index[i-1].copy()
        l_index=alp.index(s[i-1])
        curr_row[l_index]+=1
        fm_index.append(curr_row)
        
    ofst=[0]*len(alp)
    for i in range(1,len(alp)):
        ofst[i]=ofst[i-1]+fm_index[-1][i-1]
    
    pd_fm_index=pd.DataFrame(fm_index,columns=alp)
    pd_ofst=pd.DataFrame([ofst],columns=alp)

    return pd_fm_index, pd_ofst

In [26]:
fm_table, ofst = FM_index(bwt('acacgaaa'))
fm_table

   @  a  c  g
0  0  0  0  0
1  0  1  0  0
2  0  2  0  0
3  0  3  0  0
4  0  3  0  1
5  1  3  0  1
6  1  3  1  1
7  1  4  1  1
8  1  5  1  1
9  1  5  2  1

In [29]:
def exactmatch(suffix, input_str):

    fm_index, ofst = FM_index(input_str)

    h=len(fm_index)-1 
    l=0   
    
    for i in range(len(suffix)):
        char=suffix[-1-i]
        h=ofst[char][0] + fm_index[char][h]   
        l=ofst[char][0] + fm_index[char][l]    

    return l, h

In [34]:
print('Exactmatch: ', exactmatch('nana', bwt('banana')))

Exactmatch:  (6, 7)